.love{
    color: var(--text-red);
}
.mainBtn{
    border-radius: 1.5rem;
    background-color: var(--bg-yellow-dark);
    color: var(--bg-white);
    padding: .6rem 1rem;
    width: 12rem;
    border: none;
    transition: all 150ms ease-in-out;
    text-transform: uppercase;
    font-weight: bold;
}
.mainBtn:hover{
    border: 1px solid var(--bg-yellow-dark);
    background-color: var(--bg-white);
    color: var(--text-black);
}
.paraHero{
    color: var(--text-gray);
}
.left {
  border-bottom-left-radius: 500px;
  border-top-left-radius: 500px;
  background-color: var(--bg-yellow-dark);
  /* display: inline-block; */
  height: 600px;
  width: 300px;
  position: relative;
  
}
.hero1{
    position: absolute;
    top: 35%;
    right: 20%;
}
.hero2{
    position: absolute;
    top: 90%;
    right: 40%;
}
.hero3{
    position: absolute;
    top: 90%;
    right: 15%;
}
.cartIcon{
    font-size: 22px;
    margin-right: 9px;
}
.box{
    height: 30rem;
}