.mainBox{
    background-color: var(--bg-yellow-light);
    margin: 3rem 0;
    padding: 3rem 1.5rem;
}
.para{
    font-size: 15px;
    color: var(--text-gray);
}

.heading{
    color: var(--text-red);
}
.bigHeading{
    font-weight: bold;
    font-size: 600;
}