:root {
  --text-black: #1c2025;
  --text-red: #FA3500;
  --text-gray: #b4b1a7;
  --bg-white: #fff;
  --bg-yellow-light: #fffaed;
  --bg-yellow-dark: #f5b300;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-black);
  background: var(--bg-white);
}

/* h1,
h5 {
  font-family: var(--font-poppins);
} */

